html {
    background-color: #15181b;
    color: #f1f5f9;
    font-family: sans-serif;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
  }

  /* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #38a2f8;
  display: none;
  margin: 0;
}

.nav-links a {
  color: #684ea6;
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  transition: all 0.6s ease;
  background-color: #38a2f8;
}

.expanded {
  display: unset;
}

.toggler {
  visibility: hidden;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    font-size: 1rem;
  }

}

@media screen and (max-width: 636px) {
  .toggler{
      visibility: visible;
      z-index:2;
      height: 50px;
      width: 50px;
      position: absolute;
      top: 1.4em;
      right: 1em;
      cursor: pointer;
      opacity: 0;
  }

  .hamburger{
    position: absolute;
    top: 1.4em;
    right: 1em;
    height: 40px;
    width: 40px;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger > div{
    position: relative;
    top: 0;
    left: 0;
    background: #684ea6;
    height: 2px;
    width: 50px;
    transition: all  0.4s ease;
  }

  .hamburger > div::before,
  .hamburger > div::after{
    content: '';
    position: absolute;
    top: -8px;
    background: #684ea6;
    width: 100%;
    height: 2px;
    transition: all  0.4s ease;
  }

  .hamburger > div::after{
    top: 8px;
  }

  .toggler:checked + .hamburger > div{
    background: rgba(0,0,0,0);
  }

  .toggler:checked + .hamburger > div::before{
    top: 0;
    transform: rotate(45deg);
  }

  .toggler:checked + .hamburger > div::after{
    top: 0;
    transform: rotate(135deg);
  }

  .nav-links {
    color: #684ea6;
    margin-left: 5em;
    display: flex;
    position: auto;
    width: auto;
    background: none;
    top: auto;
    opacity: 0;
    transition: all 0.8s ease;
  }

  .nav-links a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    font-size: 1rem;
  }

  .toggler:checked ~ .nav-container .nav-links {
    display: flex;
    position: auto;
    opacity: 1;
    transition: all 0.8s ease;
    transition-property: opacity, display;
  }
}