---
---
<input type="checkbox" class="toggler">
<div class="hamburger"><div></div></div>
<div class="nav-container">
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
    </div>
</div>
